
# Python

venv/
__pycache__/
*.pyc
*.pyo
*.pyd


# Environment

.env


# Jupyter

.ipynb_checkpoints/
*.ipynb


# OS files

.DS_Store


# Logs
*.log

# Build
dist/
build/
*.egg-info/


# IDE

.vscode/


# Images / dataset

*.jpg
*.jpeg
*.png

# ML models
# model/
# *.keras
# *.h5
# *.pt
# *.pth